asgiref==3.3.1
comtypes==1.1.9
Django==3.1.7
modeltranslation==0.25
PyAudio @ file:///D:/lapssh/projects/Django/raxxla/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pypiwin32==223
pyttsx3==2.90
pytz==2021.1
pywin32==300
SpeechRecognition==3.8.1
sqlparse==0.4.1
